.modal-body{
  padding:30px;
}
div.modal{
  width:35%;
  margin:0 auto;
  transform: translateX(-50%);
  z-index:9999;
}
div.modal.fade.in{
  top: 35%;
}
.modal-backdrop{
  z-index:9995;
}
